h1{
   text-align: center;
   text-shadow: 10px 8px 10px blue;
   margin-top :100px; 
  
}
form{
   width:200px;
   background-color:lightskyblue; 
   text-align: center;
   margin-inline-start: 520px;
   box-shadow: 10px 5px 8px blue;
  border-radius: 4%;
  
  
      
}
label{
    font-family: sans-serif;
}

form input{
          border-radius: 5px;
}
input[type="button"]{
                     width:100px;
                     text-align: center;
                     background-color: cornflowerblue;
                     font-size: 15px;
                    

}